################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Espanhol/x64/Debug
/.vs
/HolaMundo/.vs/HolaMundo
/HolaMundo/x64
/Espanhol/.vs/Espanhol
/HolaNombre Vacio/.vs/HolaNombre Vacio
/HolaNombre Vacio/x64/Debug
/Login/.vs/Login
/Login/x64
/Variables/.vs/Variables
/Variables/x64/Debug
/EjercicioWhile/x64/Debug
/EjercicioWhile/.vs/EjercicioWhile/FileContentIndex
/EjercicioWhile/.vs/EjercicioWhile/v17
/EjercicioFor/.vs/EjercicioFor
/EjercicioFor/x64/Debug
/EjercicioLoginCaptcha/.vs/EjercicioLoginCaptcha
/EjercicioLoginCaptcha/x64/Debug
/EjercicioObjetos/.vs/EjercicioObjetos
/EjercicioObjetos/x64/Debug
/EjercicioSwitchCase/.vs/EjercicioSwitchCase
/EjercicioSwitchCase/x64/Debug
/EjercicioTiendaOnlineLibros/x64/Debug
/EjercicioTiendaOnlineLibros/.vs/EjercicioTiendaOnlineLibros
